<p id="notice"><%= notice %></p>

<p>
  <b>Fio:</b>
  <%= @user.fio %>
</p>

<p>
  <b>Login:</b>
  <%= @user.login %>
</p>

<p>
  <b>Status:</b>
  <%= @user.status_id %>
</p>

<p>
  <b>Password:</b>
  <%= @user.password %>
</p>

<p>
  <b>Last login date:</b>
  <%= @user.last_login_date %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
