<p id="notice"><%= notice %></p>

<p>
  <b>Fio:</b>
  <%= @user.fio %>
</p>

<p>
  <b>Login:</b>
  <%= @user.login %>
</p>

<p>
  <b>Statusid:</b>
  <%= @user.statusId %>
</p>

<p>
  <b>Password:</b>
  <%= @user.password %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
