<h1>Listing tickets</h1>

<table>
  <tr>
    <th>Doctor_id</th>
    <th>User_id</th>
    <th>Date</th>
    <th>Time</th>
    <th>Statusid</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tickets.each do |ticket| %>
  <tr>
    <td><%= ticket.doctor_id %></td>
    <td><%= ticket.user_id %></td>
    <td><%= ticket.date %></td>
    <td><%= ticket.time %></td>
    <td><%= ticket.statusId %></td>
    <td><%= link_to 'Show', ticket %></td>
    <td><%= link_to 'Edit', edit_ticket_path(ticket) %></td>
    <td><%= link_to 'Destroy', ticket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ticket', new_ticket_path %>
