<p id="notice"><%= notice %></p>

<p>
  <b>Doctorid:</b>
  <%= @ticket.doctorId %>
</p>

<p>
  <b>Userid:</b>
  <%= @ticket.userId %>
</p>

<p>
  <b>Date:</b>
  <%= @ticket.date %>
</p>

<p>
  <b>Time:</b>
  <%= @ticket.time %>
</p>

<p>
  <b>Statusid:</b>
  <%= @ticket.statusId %>
</p>


<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
