<p id="notice"><%= notice %></p>

<p>
  <b>Doctor:</b>
  <%= @ticket.doctor_id %>
</p>

<p>
  <b>User:</b>
  <%= @ticket.user_id %>
</p>

<p>
  <b>Date:</b>
  <%= @ticket.date %>
</p>

<p>
  <b>Datetime:</b>
  <%= @ticket.datetime %>
</p>

<p>
  <b>Status:</b>
  <%= @ticket.status_id %>
</p>

<p>
  <b>Duration:</b>
  <%= @ticket.duration %>
</p>


<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
