<p id="notice"><%= notice %></p>

<p>
  <b>Doctor_id:</b>
  <%= @ticket.doctor_id %>
</p>

<p>
  <b>User_id:</b>
  <%= @ticket.user_id %>
</p>

<p>
  <b>Date:</b>
  <%= @ticket.date %>
</p>

<p>
  <b>Time:</b>
  <%= @ticket.time %>
</p>

<p>
  <b>Statusid:</b>
  <%= @ticket.statusId %>
</p>


<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
