<h1>Listing ticket_statuses</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Desc</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ticket_statuses.each do |ticket_status| %>
  <tr>
    <td><%= ticket_status.name %></td>
    <td><%= ticket_status.desc %></td>
    <td><%= link_to 'Show', ticket_status %></td>
    <td><%= link_to 'Edit', edit_ticket_status_path(ticket_status) %></td>
    <td><%= link_to 'Destroy', ticket_status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ticket status', new_ticket_status_path %>
