<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @ticket_status.name %>
</p>

<p>
  <b>Desc:</b>
  <%= @ticket_status.desc %>
</p>


<%= link_to 'Edit', edit_ticket_status_path(@ticket_status) %> |
<%= link_to 'Back', ticket_statuses_path %>
