<p id="notice"><%= notice %></p>

<p>
  <b>Fio:</b>
  <%= @doctor.fio %>
</p>

<p>
  <b>Specializationid:</b>
  <%= @doctor.specializationId %>
</p>

<p>
  <b>Duration:</b>
  <%= @doctor.duration %>
</p>


<%= link_to 'Edit', edit_doctor_path(@doctor) %> |
<%= link_to 'Back', doctors_path %>
