<h1>Listing working_timetables</h1>

<table>
  <tr>
    <th>Doctorid</th>
    <th>Workingtimehash</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @working_timetables.each do |working_timetable| %>
  <tr>
    <td><%= working_timetable.doctorId %></td>
    <td><%= working_timetable.workingTimeHash %></td>
    <td><%= link_to 'Show', working_timetable %></td>
    <td><%= link_to 'Edit', edit_working_timetable_path(working_timetable) %></td>
    <td><%= link_to 'Destroy', working_timetable, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Working timetable', new_working_timetable_path %>
