<p id="notice"><%= notice %></p>

<p>
  <b>Doctor_id:</b>
  <%= @working_timetable.doctor_id %>
</p>

<p>
  <b>Workingtimehash:</b>
  <%= @working_timetable.workingTimeHash %>
</p>


<%= link_to 'Edit', edit_working_timetable_path(@working_timetable) %> |
<%= link_to 'Back', working_timetables_path %>
