<p id="notice"><%= notice %></p>

<p>
  <b>Doctorid:</b>
  <%= @working_timetable.doctorId %>
</p>

<p>
  <b>Workingtimehash:</b>
  <%= @working_timetable.workingTimeHash %>
</p>


<%= link_to 'Edit', edit_working_timetable_path(@working_timetable) %> |
<%= link_to 'Back', working_timetables_path %>
