<!DOCTYPE html>
<html>
<head>
  <title>MTS</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
          <div id="container">
      <div id="user_header">
        <% if current_user %>
          Logged in as <%= current_user.email %>.
          <%= link_to "Log Out", logout_path %>
        <% else %>
          <%= link_to "Sign Up", signup_path %> or
          <%= link_to "Log In", login_path %>
        <% end %>
      </div>

      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, id: "flash_#{name}" %>
      <% end %>

      
    </div>
<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Project MTS</a>
    <ul class="nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/doctors">Doctors</a></li>
	  <li><a href="/tickets"</a>Tickets</li>
	  <li><a href="/working_timetables">Working_timetables</a></li>
	  <li><a href="/users">Users</a></li>
      <li><a href="/specializations">Specializations</a></li>
	  <li><a href="/ticket_statuses">Ticket_statuses</a></li>	  
	  <li><a href="/users_statuses">Users_statuses</a></li>
    </ul>
  </div>
</div>
<%= yield %>

<center style='padding-top: 40px;'><img width="25%" height="89" src="/assets/elki_6de.gif" alt="new year 2013"><img width="25%" height="89" src="/assets/elki2_6de.gif" alt="new year 2013"><img width="25%" height="89" src="/assets/elki_6de.gif" alt="new year 2013"><img width="25%" height="89" src="/assets/elki2_6de.gif" alt="new year 2013">
	</center>
</body>
</html>
