<!DOCTYPE html>
<html>
<head>
  <title>MTS</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
      <div id="user_header">        
          <%= link_to "Sign Up", new_user_path %>  or     
          <%= link_to "Log In", new_session_path %>       
      </div>
<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Project MTS</a>
    <ul class="nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/doctors">Doctors</a></li>
	  <li><a href="/tickets"</a>Tickets</li>
	  <li><a href="/working_timetables">Working_timetables</a></li>
	  <li><a href="/users">Users</a></li>
      <li><a href="/specializations">Specializations</a></li>
	  <li><a href="/ticket_statuses">Ticket_statuses</a></li>	  
	  <li><a href="/users_statuses">Users_statuses</a></li>
    </ul>
  </div>
</div>
<%= yield %>

<center style='padding-top: 40px;'><img width="25%" height="89" src="assets/elki_6de.gif" alt="new year 2013"><img width="25%" height="89" src="assets/elki2_6de.gif" alt="new year 2013"><img width="25%" height="89" src="assets/elki_6de.gif" alt="new year 2013"><img width="25%" height="89" src="assets/elki2_6de.gif" alt="new year 2013">
	</center>
</body>
</html>
